<form class="clearfix home-content" role="form"
      [formGroup]="homeContentForm"
      (ngSubmit)="onSubmit()">
    <input class="home-long-url"
           type="text"
           [ngClass]="{'home-content-error':!homeContentForm.controls['longUrl'].valid && (homeContentForm.controls['longUrl'].touched || formSubmitted)}"
           [placeholder]="longUrl"
           [formControl]="ctrlLongUrl"
           [(ngModel)]="url.longUrl" />
    <span class="home-content-error-text" *ngIf="!homeContentForm.controls['longUrl'].valid && (homeContentForm.controls['longUrl'].touched || formSubmitted)">{{required}}</span>
    <br /><br />
    <input type="text"
           [ngClass]="{'home-content-error':!homeContentForm.controls['customAlias'].valid && (homeContentForm.controls['customAlias'].touched  || formSubmitted)}"
           [placeholder]="custom"
           [formControl]="ctrlCustomAlias"
           [(ngModel)]="url.customAlias" />
    <span *ngIf="homeContentForm.controls['customAlias'].valid || !homeContentForm.controls['customAlias'].touched">{{customVal}}</span>
    <span class="home-content-error-text" *ngIf="!homeContentForm.controls['customAlias'].valid && (homeContentForm.controls['customAlias'].touched || formSubmitted)">{{customVal}}</span>
    <br />
    <button type="submit" class="btn home-submit-btn">
        {{submitText}}
    </button>
</form>
